# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# WebStorm
.idea/

# OSX
.DS_Store

# bower & npm
node_modules/
npm-debug.log
debug.log

# temp
.tmp/

